--- Python / Backend ---Entornos virtuales.venv/venv/env/Archivos compilados de Pythonpycache/*.py[cod]*$py.classArchivos .env.env.env.local--- Node / React Frontend ---Dependenciasnode_modules/Archivos de buildbuild/dist/.next/Logsnpm-debug.log*yarn-debug.log*yarn-error.log*Archivos de variables de entorno locales.env.local.env.development.local.env.test.local.env.production.local--- Sistema Operativo ---.DS_StoreThumbs.db